<nav class="navbar-pages">
	<div class="navbar-title">
		<h2>Información</h2>
	</div>
	<ul>
		<li><a routerLink="presentacion" routerLinkActive="active">Presentación</a></li>
		<li><a routerLink="convenios" routerLinkActive="active">Convenios</a></li>
		<li><a routerLink="proyectos" routerLinkActive="active">Proyectos</a></li>
		<li><a routerLink="becas-movilidad" routerLinkActive="active">Becas y movilidad</a></li>
		<li><a routerLink="membresias" routerLinkActive="active">Membresías</a></li>
		<!--<li><a routerLink="noticias-eventos" routerLinkActive="active">Noticias y eventos</a></li>-->
		<li><a routerLink="informes-gestion" routerLinkActive="active">Informes de gestión</a></li>
		<li><a href="https://conveniosdric.umss.edu.bo/convenios" target="_blank">Sistema de convenios</a></li>
		<!--<li><a href="#">Contacto</a></li>-->
	</ul>
</nav>