<!-- Seleccionar archivo -->
<div class="area-media-doc" *ngIf="showAreaDoc()">
  <button type="button" class="btn-close m-0" aria-label="Close" (click)="closeCleanPreviewDoc()"></button>
  <div class="back-doc d-flex flex-column px-3 py-3" *ngIf="!showPreviewDoc">
    <span>Subir un archivo</span>
    <p>Los archivos deben ocupar un máximo de 100MB</p>
    <button type="button" class="btn" (click)="openInputFileDoc()">Elegir archivo</button>
  </div>

  <!-- Preview archivo -->
  <div class="preview-doc d-flex flex-row" *ngIf="showPreviewDoc">
    <div class="icon-doc d-flex align-items-center justify-content-center">
      <img src="../../../../assets/{{fileType}}.png" alt="Document">
    </div>
    <div class="name-doc d-flex align-items-center">
      <span>{{ fileMediaDoc.name }}</span>
    </div>
    </div>
</div>
<input type="file" name="" id="input-file-doc" hidden (input)="changeInputMediaDoc($event)" accept=".doc,.docx,.pdf,.pptx">