<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/iug-logor.svg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Membresías</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="gallery-section">
		<div class="media-container">
			<a href="https://www.auf.org/" target="_blank"><img src="assets/dric/dric-membership-01.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://grupomontevideo.org/site/" target="_blank"><img src="assets/dric/dric-membership-02.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://www.un.org/en/academicimpact" target="_blank"><img src="assets/dric/dric-membership-03.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://auip.org/es/" target="_blank"><img src="assets/dric/dric-membership-04.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://criscos.unju.edu.ar/" target="_blank"><img src="assets/dric/dric-membership-05.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://www.clacso.org/" target="_blank"><img src="assets/dric/dric-membership-06.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://otca.org/tag/unamaz/" target="_blank"><img src="assets/dric/dric-membership-07.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="#"><img src="assets/dric/dric-membership-08.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://commission.europa.eu/index_es" target="_blank"><img src="assets/dric/dric-membership-09.jpg" alt=""></a>
		</div>
		<div class="media-container">
			<a href="https://www.fundacionuniversia.net/es/index.html" target="_blank"><img src="assets/dric/dric-membership-10.jpg" alt=""></a>
		</div>
	</div>

</div>