.menu-options-post {
    padding: 5px;
    position: absolute;
    top: 40px;
    right: -5px;
    height: fit-content;
    font-family: var(--primary-font-family);
    font-size: 14px;
    background-color: #fff;
    border: 1px solid var(--blue-color);
    z-index: 1;

    .option-post {
        padding: 5px 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}