.menu-options-post {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 250px;
    height: fit-content;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 5px;
    z-index: 1;

    .option-post {
        padding: 10px 15px;
        gap: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #f2f2f2;
        }

        .bi {
            font-size: 18px;
            color: #1C1C22;
        }

        .bi-trash-fill {
            color: #DC3545;
        }
    }
}