@if (institution) {

<div class="details-container">

	<div class="section-title">
		<h3>Detalle</h3>
	</div>

	<div class="info-item">
		<img src="assets/info.png" alt="" class="icon-detail">
		<span>Asociación independiente cuya misión es reunir a todos aquellos que trabajan con Informix.</span>
	</div>

	<div class="info-item">
		<img src="assets/address.png" alt="" class="icon-detail">
		<span>Beerentaltrift 95 <br> 21077 Hamburgo <br> Alemania</span>
	</div>

	<div class="info-item">
		<img src="assets/email.png" alt="" class="icon-detail">
		<a href="mailto:info&#64;iug.de">info&#64;iug.de</a>
	</div>

	<div class="info-item">
		<img src="assets/web.png" alt="" class="icon-detail">
		<a href="https://iug.de" target="_blank">iug.de</a>
	</div>
</div>

<home-photos-section></home-photos-section>

}