<!-- src/app/components/department-details/department-details.component.html -->
<div class="main-container">
  <div *ngIf="institution">
    <div class="details-container">
      <h3>Detalle</h3>
      <p class="subtitle">
        {{ institution.description }}
      </p>

      <!-- Información de contacto -->
      <div class="info-item">
        <i class="bi bi-geo-alt-fill"></i>
        <span>{{ institution.location }}</span>
      </div>

      <div class="info-item">
        <i class="bi bi-info-circle-fill"></i>
        <span>{{ institution.category }}</span>
      </div>

      <div class="info-item">
        <i class="bi bi-envelope-fill"></i>
        <a href="mailto:{{ institution.email }}">{{ institution.email }}</a>
      </div>

      <div class="info-item">
        <i class="bi bi-globe"></i>
        <a href="http://{{ institution.url }}" target="_blank">{{ institution.url }}</a>
      </div>
    </div>

    <home-photos-section></home-photos-section>

  </div>
</div>
