<div class="main-container">

  @if (institution) {

    <div class="details-container">

      <div class="section-title">
        <h3>Detalle</h3>
      </div>

      <div class="info-item">
        <img src="assets/info.png" alt="" class="icon-detail">
        <span>{{ institution.description }}</span>
      </div>

      <div class="info-item">
        <img src="assets/address.png" alt="" class="icon-detail">
        <span>{{ institution.location }}</span>
      </div>

      <div class="info-item">
        <img src="assets/email.png" alt="" class="icon-detail">
        <a href="mailto:{{ institution.email }}">{{ institution.email }}</a>
      </div>

      <div class="info-item">
        <img src="assets/web.png" alt="" class="icon-detail">
        <a href="http://{{ institution.url }}" target="_blank">{{ institution.url }}</a>
      </div>
    </div>

    <home-photos-section></home-photos-section>
  }

</div>
