<nav class="navbar-custom">

  <div class="header-brand">
    <img src="assets/umss-logo.png" alt="" class="brand-img">
    <input type="text" name="" id="" placeholder="Buscar">
  </div>

  <div class="header-account">
    <img src="assets/img/avatar.jpg" alt="" class="photo-user-1 border-radius">
    <img src="assets/img/dric-logo.png" alt="" class="brand-img border-radius">
  </div>


  <div class="header-account">
    @if (authenticated && user) {
      <img src="{{ user.photo_profile_path }}" alt="Foto de perfil" (click)="toggleMenu()" class="photo-user-1 border-radius">
    } @else {
      <img src="assets/user-icon-1.png" alt="" (click)="toggleMenu()" class="photo-user-1 border-radius">
    }
    @if (institution) {
      <img src="{{ institution.logo_url }}" alt="" class="brand-img border-radius">
    }
  </div>

  @if (isMenuOpen) {
  <div class="dropdown-menu">
    <ng-container *ngIf="authenticated">
      <a class="dropdown-item">Ver perfil</a>
      <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
    </ng-container>
    <ng-container *ngIf="!authenticated">
      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar Sesión</a>
      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">Registrarse</a>
    </ng-container>
  </div>
  }
</nav>

<app-login></app-login>

<app-register></app-register>