.navbar-custom {
  background: linear-gradient(to right, #FFEE00E5, #003770E5);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-custom .logo {
  max-width: 150px;
}

.navbar-custom .search-bar {
  flex-grow: 1;
  margin-left: 20px;
}

.navbar-custom .user-icon {
  color: #fdb913;
  font-size: 24px;
  cursor: pointer;
}
