.navbar-custom {
  display: flex;
	justify-content: space-between;
	margin: 0 20px;
	padding: 15px 100px;
	height: var(--header-height);
	border-bottom: 2px solid var(--blue-color);

  a {
    text-decoration: none;
    color: var(--blue-color);
  }
  
  input {
    padding: 0 40px;
    height: 50px;
    font-family: var(--font-family-default);
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--blue-color);
    border-radius: 25px;
    border: 1px solid var(--blue-color);
  }
  
  input::placeholder {
    color: var(--blue-color);
  }
  
  .header-brand,
  .header-account {
    display: flex;
    gap: 20px;
  }

  .header-brand {
    display: flex;
    gap: 20px;
  }

  .header-brand input {
    width: 605px;
  }

  .brand-img,
  .photo-user-1 {
    height: 50px;
  }

  .photo-user-2 {
	  height: 40px;
  }

  .border-radius {
    border-radius: 50%;
  }

  .dropdown-menu {
    position: absolute;
    top: 82px;
    right: 15%;
    padding: 25px 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    border: 1px solid var(--blue-color);
    
    .dropdown-item {
      padding: 7px 40px 0;
      height: 40px;
      font-size: 1rem;
      text-decoration: none;
      color: var(--blue-color);
      cursor: pointer;
    }

    .dropdown-item:hover {
      color: #FFF;
      background-color: var(--red-color);
    }
  }

}

@media screen and (max-width: 640px) {

  .navbar-custom {
    margin: 0;
    padding: 15px 20px;

    .header-brand input {
      display: none;
    }

    .dropdown-menu {
      right: 0px;
    }

  }

}