.header-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f8f9fa;

	.header-image {
		position: relative;
		width: 100%;

		.banner-container {
			width: 100%;
			height: 312px;
			overflow: hidden;
			position: relative;

			.banner-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				-o-object-fit: cover;
				object-position: center;
				-o-object-position: center;
			}
		}

		.logo-overlay {
			position: absolute;
			bottom: 14px;
			left: 50%;
			transform: translateX(-50%);

			.career-logo {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			}
		}
	}

	.header-details {
		padding: 0px 0 20px;
		width: 100%;
		color: var(--blue-color);
		text-align: center;

		h3 {
			margin: 0;
			padding: 20px 0;
			font-family: var(--secondary-font-family);
			font-optical-sizing: auto;
			font-weight: bold;
			font-size: 24px;
		}

		p {
			margin: 0;
			font-family: var(--primary-font-family);
			font-optical-sizing: auto;
			font-weight: normal;
			font-size: 20px;
		}
	}
}

nav {
	margin: 0 auto;
	width: 100%;
	height: 60px;
	border-top: 1px solid var(--blue-color);
	border-bottom: 1px solid var(--blue-color);

	ul {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 15px 0 0;
		width: var(--nav-width);
		list-style: none;

		li a {
			padding: 0 30px;
			font-family: var(--primary-font-family);
			font-size: 16px;
			color: var(--blue-color);
			text-decoration: none;

			&:hover {
				padding-bottom: 11px;
				color: var(--blue-color);
				border-bottom: 10px solid var(--blue-color);
			}
		}

		li a.active {
			padding-bottom: 11px;
			color: var(--red-color);
			border-bottom: 10px solid var(--red-color);
		}
	}
}

#ruta-post {
	cursor: pointer;
}

@media screen and (max-width: 1020px) {

	nav {
		overflow-y: hidden;
		overflow-x: scroll;

		ul {
			width: 100%;
		}

		.scroll::-webkit-scrollbar {
			display: none;
		}

		.scroll {
			white-space: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}
	}
}

@media screen and (max-width: 768px) {

	nav {

		ul {
			justify-content: left;
		}
	}
}
