<div class="header-container">
    <div class="header-image">
        <div class="banner-container">
            <img *ngIf="institution" [src]="institution.background_url" alt="Banner Informática y Sistemas" class="banner-image">
        </div>

        <div class="logo-overlay">
            <img *ngIf="institution" [src]="institution.logo_url" alt="Logo Carrera" class="career-logo">
        </div>
    </div>

    <div class="header-details">
        <h3>{{ institution.name }}</h3>
        <p>100 seguidores - 100 me gusta</p>
    </div>
</div>

<nav>
    <ul>
        <li><a routerLink="/posts" routerLinkActive="active">Publicaciones</a></li>
        <li><a routerLink="/informacion" routerLinkActive="active">Información</a></li>
        <li><a routerLink="/fotos" routerLinkActive="active">Fotos</a></li>
        <li><a routerLink="/videos" routerLinkActive="active">Vídeos</a></li>
        <li><a href="#">Documentos</a></li>
        <li><a href="#">Más</a></li>
    </ul>
</nav>
