<div class="header-container">
    <div class="header-image">
        <div class="banner-container">
            <img src="assets/banner-informatica.jpg" alt="Banner Informática y Sistemas" class="banner-image">
        </div>
        <!--<div class="search-bar">
            <input type="text" class="form-control" placeholder="Buscar">
        </div>-->
        <div class="logo-overlay">
            <img src="assets/logo-informatica.png" alt="Logo Carrera" class="career-logo">
        </div>
    </div>
    <div class="header-details">
        <p></p>
        <h3>Informática y Sistemas</h3>
        <div class="user-actions">
            <button class="btn btn-secondary">
                <i class="fa fa-envelope"></i> Mensaje</button>
            <button class="btn btn-secondary">
                <i class="fas fa-thumbs-up"></i> Me Gusta</button>
            <button class="btn btn-secondary">
                <i class="fas fa-search"></i> Buscar</button>
        </div>
    </div>
    <nav class="tabs-container">
        <ul class="tabs">
            <li><a href="#">Publicaciones</a></li>
            <li><a href="#">Información</a></li>
            <li><a href="#">Fotos</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Más</a></li>
        </ul>
    </nav>
</div>
