<div class="modal" tabindex="-1" id="modalListReactions" aria-labelledby="modalListReactionsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="secction-title">
          <h5 class="modal-title fw-semibold">Todo</h5>
          <!-- logica para mostrar filtro de emojis -->
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="info-users d-flex flex-column">
          <ng-container *ngFor="let reaction of reactions.reactions_by_user">
            <div class="reactions-by-user d-flex flex-row gap-3">
              <div class="img-profile">
                <img
                  [src]="reaction.user_photo"
                  [alt]="'Foto de perfil'"
                />
              </div>
              <div class="name-user d-flex align-items-center">
                <p class="fw-semibold fs-6 mb-0">{{ reaction.user_name }}</p>
              </div>
              <div *ngIf="listEmojiType" class="emoji-reaction d-flex align-items-center" >
                {{ getReactionType(reaction.user_reaction) }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
  
