<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="../../../assets/dric/dric-logo.png" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Becas y Movilidad</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section-1">
		<div class="section-content">
			<p>Canaliza y difunde la oferta de becas ofrecida por diferentes instituciones y Gobiernos del mundo. En general,
				éstas becas están dirigidas a los ciudadanos bolivianos.<br>
				Gestiona programas de movilidad docente/estudiantil/administrativa. Éstos Programas han permitido que varios
				docentes y estudiantes de la UMSS sean beneficiados permitiéndoles de ésta manera un crecimiento profesional y/o
				complementación de su formación académica. A través de éstos programas, también se ha recibido a varios docentes del
				exterior, para realizar una movilidad de docencia o formación.</p>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>Becas de Posgrado</h3>
			<p>Programas de becas ofertados por los Gobiernos de diferentes países y otros Organismos Internacionales.</p>
			<div class="media-container">
				<img src="../../../assets/dric/dric-scholarships-01.jpg" alt="foto">
			</div>
		</div>
		<div class="section-content">
			<a href="http://dric.umss.edu.bo/becas/" class="button-go-link" target="_blank">Ver Becas</a>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>Movilidad y pasantías</h3>
			<p>Programas de movilidad docente, estudiantil y administrativa. Pasantías remuneradas por empresas internacionales.</p>
			<div class="media-container">
				<img src="../../../assets/dric/dric-scholarships-02.jpg" alt="foto">
			</div>
		</div>
		<div class="section-content">
			<a href="http://dric.umss.edu.bo/movilidad/" class="button-go-link" target="_blank">Ver Programas</a>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>Premios, concursos, eventos y cursos</h3>
			<p>Convocatorias de interés general de la comunidad universitaria.</p>
			<div class="media-container">
				<img src="../../../assets/dric/dric-scholarships-03.jpg" alt="foto">
			</div>
		</div>
		<div class="section-content">
			<a href="http://dric.umss.edu.bo/premios-concursos-y-eventos-de-interes-general/" class="button-go-link" target="_blank">Ver Convocatorias</a>
		</div>
	</div>

	<div class="page-section no-border-bottom">
		<div class="section-content">
			<h3>Información para nacionales y extranjeros</h3>
			<p>Información de interés para ciudadanos nacionales y extranjeros.</p>
			<div class="media-container">
				<img src="../../../assets/dric/dric-scholarships-04.jpg" alt="foto">
			</div>
		</div>
		<div class="section-content">
			<a href="http://dric.umss.edu.bo/informacion-de-interes/" class="button-go-link" target="_blank">Ver Información</a>
		</div>
	</div>

</div>