<!-- Area para seleccionar imagenes videos -->
<div class="area-media" *ngIf="showAreaMedia()">
  <button type="button" class="btn-close m-0" aria-label="Close" (click)="closeCleanPreviewMedia()"></button>
  <div *ngIf="!showPreviewMedia" class="back-media d-flex flex-column align-items-center justify-content-center" (click)="openInputFileMedia()" (keypress)="changeInputMedia($event)" (drop)="changeInputMedia($event)" (dragover)="onDragOver($event)">
    <i class="bi bi-plus-square-dotted fs-4"></i>
    <h5 class="mb-0">Añadir fotos/vídeos</h5>
    <label class="text-secondary" for="input-file-img-vid">o usa la opción de arrastrar y soltar</label>
    <div class="text-secondary">Tamaño máximo: 1 GB.</div>
  </div>

  <!-- Spinner de carga -->
  <div *ngIf="isLoadingMedia" class="loading-overlay w-100 d-flex flex-column align-items-center">
    <div class="spinner-border text-primary"></div>
    <span class="visually-hidden">Cargando...</span>
  </div>

  <!-- Preview de imagenes videos elegidos -->
  <div class="images-videos" *ngIf="showPreviewMedia && !isLoadingMedia" [ngClass]="getGridClass()">
    <!-- Iterar imagenes y videos -->
    <ng-container *ngFor="let media of mediaListPreview; let i = index"> 
      <!-- Mostrar las primeras 4 imágenes o videos directamente -->
      <!-- Contenedor para imagen/video con botón de eliminar -->
      <div class="media-container" *ngIf="i < 3 || mediaListPreview.length == 4">
        <!-- Botón para eliminar este medio -->
        <button type="button" class="btn-delete-media" aria-label="Eliminar" (click)="deletePreviewMedia(i)">
          <i class="bi bi-x"></i>
        </button>
        
        <!-- Mostrar <img> si es una imagen -->
        <img *ngIf="isImage(media.type); else mostrarVideo" [src]="media.url" alt="post" [ngClass]="{'three': mediaListPreview.length == 3 && i === 0}">
        
        <!-- Mostrar <video> si no es una imagen -->
        <ng-template #mostrarVideo>
          <video aria-labelledby="video-description" *ngIf="media.url" [src]="media.url" controls [ngClass]="{'three': mediaListPreview.length == 3 && i === 0}">
            <track kind="captions" src="" default>
          </video>
        </ng-template>
      </div>
      <!-- Quinta imagen/video: Con superposición si hay más media -->
      <div *ngIf="i === 3 && mediaListPreview.length > 4" class="more">
        <img *ngIf="isImage(media.type); else mostrarVideo" [src]="media.url" alt="post">
        <ng-template #mostrarVideo>
          <video [src]="media.url" controls aria-labelledby="video-description">
            <track kind="captions" src="" default>
          </video>
        </ng-template>
        <div class="overlay">+{{ mediaListPreview.length - 4 }}</div>
      </div>
    </ng-container>
    
    <!-- Elemento visual para añadir más imágenes/videos integrado en el grid -->
    <div class="media-container add-more-tile" (click)="openInputFileMedia()">
      <div class="add-more-content">
        <i class="bi bi-plus-lg"></i>
      </div>
    </div>
  </div>
</div>
<input #fileInput type="file" name="" id="input-file-img-vid" hidden (input)="changeInputMedia($event)" multiple accept="image/*,video/*">
