.post-container {
    background-color: #ffffff; 
    padding: 20px 20px 5px 20px;
    border-radius: 10px; 
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); 
    border: 1px solid #e0e0e0;
    width: 100%;
    max-width: 500px;
  
    .img-profile{
      width: 55px; 
      height: 55px;
      border-radius: 50%; 
      border: 1px solid #ccc; 
    }
  
    h2 {
      font-size: 1rem; 
      font-weight: bold;
      color: #000000;
      margin-bottom: 5px;
    }
  
    p{
      font-size: 0.9rem; 
      font-weight: lighter;
      color: gray;
      margin-bottom: 10px;
    }
  
    .text-post {
      font-size: 1rem; /* Ajuste del tamaño para que sea similar al mockup */
      color: #333;
      margin-bottom: 15px;
      line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
    }
  
    hr {
      margin: 0;
    }

    @media (min-width: 992px) {
      min-width: 496px;
    }

    .bottuns {
      #btn-like {
        background-color: #fff;
        border: none;
        font-weight: 600;
        width: 124px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .option-reactions{
          display: none;
        }


        
      }

      #btn-like:hover {
        background-color: #F2F2F2;
        .option-reactions{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 0 5px;
          border-radius: 30px;
          height: 50px;
          width: auto;
          background-color: #fff;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); 
          border: 1px solid #e0e0e0;
          position: absolute;
          transform: translateY(-44px) translateX(20px);
          cursor: default;

          .fa-thumbs-up {
            background-color: #087CFE;
            border-radius: 50%;
            font-size: 25px;
            padding: 5px;
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center; 
            align-items: center;
            color: #fff;
            transition: transform 0.3s ease;
            cursor: pointer;
          }

          .fa-thumbs-up:hover {
            transform: scale(1.2);
          }

          .fa-heart {
            background-color: #FB4D70;
            border-radius: 50%;
            font-size: 25px;
            padding: 5px;
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center; 
            align-items: center;
            color: #fff;
            transition: transform 0.3s ease;
            cursor: pointer;
          }

          .fa-heart:hover {
            transform: scale(1.2);
          }
      
          .crying-face {
            height: 40px;
            transition: transform 0.3s ease;
            cursor: pointer;
          }

          .crying-face:hover{
            transform: scale(1.2);
          }

          .angry-face {
            height: 40px;
            transition: transform 0.3s ease;
            cursor: pointer;
          }

          .angry-face:hover{
            transform: scale(1.2);
          }
      
        }
      }

      .btn.default {
        color: #606367;
        i {
          font-size: 20px;
        }
      }

      .btn.thumbs-up {
        color: #005FF2;
        i {
          font-size: 20px;
        }
      }

      .btn.red-heart {
        // transition-duration: 500ms;
        i {
          background-color: #FB4D70;
          border-radius: 50%;
          font-size: 14px;
          padding: 10px;
          height: 19px;
          width: 19px;
          display: flex;
          justify-content: center; 
          align-items: center;
          color: #fff;
        }
        span {
          color: #FB4D70;
        }
      }

      .btn.crying-face {
        // transition-duration: 500ms;
        img {
          height: 20px;
        }
        span {
          color: #EAA823;
        }
      }

      .btn.angry-face {
        // transition-duration: 500ms;
        img {
          height: 20px;
        }
        span {
          color: #DD6B0E;
        }
      }
    }
  }
  
  .post-images {
    display: grid; 
    gap: 10px; 
    grid-template-columns: repeat(2, minmax(100px, 1fr)); 
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    background-color: #ffffff;
    margin: auto; 
    min-height: fit-content;
  
    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 8px;
      object-fit: cover;
      border: 1px solid #ddd;
    }
  }

  .doc-post {
    background-color: #F0F2F5;
    padding: 10px 5px;
    cursor: pointer;

    .icon-doc {
      margin: 0 10px;

      img {
        height: 48px;
        width: 48px;
      }
    }

    .details-doc {
      .type-doc {
        p {
          font-size: 13px;
        }
      }

      .name-doc {
        p {
          font-size: 18px;
          color: #000;
        }
      }
    }
  }
  
  .post-images.single {
    grid-template-columns: 1fr; /* Una sola columna */
  }
  
  .post-images.two {
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  }
  
  .post-images.three {
    grid-template-columns: 2fr 1fr; /* Dos columnas principales */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
  }
  .post-images.three img:nth-child(1) {
    grid-row: span 2; /* Imagen más grande a la izquierda */
  }
  
  .post-images.four {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    
  }
  
  .post-images > .more {
    color: white; /* Texto blanco */
    font-size: 2rem;
    font-weight: bold;
    display: flex; /* Centrar el texto */
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
    position: relative;
    
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      cursor: pointer;
    }
  }
  
  .post-images .more::after {
    content: "+"attr(title); /* "+n" dinámico */
    position: absolute;
    cursor: pointer;
  }

.reactions-comments {
  margin: 0.5rem 1rem;

  .likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 5px;
      color: #838689;
    }

    
    .fa-thumbs-up {
      background-color: #087CFE;
      border-radius: 50%;
      font-size: 13px;
      padding: 3px;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: #fff;
    }
    .fa-heart {
      background-color: #FB4D70;
      border-radius: 50%;
      font-size: 11px;
      padding: 4px;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: #fff;
    }

    .fa-face-angry {
      color: #FEE179;
      height: 22px;
    }

    .fa-face-sad-tear {
      color: #FEE179;
      height: 22px;
    }
  }

  .comments {

    span {
      color: #838689;
      margin-right: 5px;
    }

    .bi-chat-fill{
      color: #5F6771;
    }
  }

}