<div class="post-container">
  <!-- Parte superior del post -->
  <div class="post-user d-flex gap-3 mb-3">
    <ng-container *ngIf="institution">
      <img
        [src]="institution.logo_url"
        [alt]="institution.logo_url.alt || 'Foto de perfil'"
        class="img-profile"
      />
      <div class="info-user">
        <h2>{{ institution.name }}</h2>
        <p >{{calculateTimePost()}}</p>
      </div>
    </ng-container>
  </div>
  <!-- Contenido del post -->
  <p class="text-post">
    {{ post.content.text }}
  </p>
  <div class="post-images" [ngClass]="getGridClass(images)">
    <ng-container *ngFor="let image of images; let i = index">
      <!-- Mostrar las primeras 3 imágenes directamente -->
      <img *ngIf="i < 3 || images.length == 4" [src]="image" [alt]="image.alt || 'Imagen del post'">
      <!-- Quinta imagen: Con superposición si hay más imágenes -->
      <div 
        *ngIf="i === 3 && images.length > 4" 
        class="more" 
        [title]="images.length - 4"
        >
        <img [src]="image" [alt]="image.alt || 'Imagen del post'">
        <div class="overlay"></div>
      </div>
    </ng-container>
  </div>
  <div class="bottuns d-flex justify-content-evenly m-2">
    <button type="button" class="btn btn-secondary" disabled>Me gusta</button>
    <button type="button" class="btn btn-secondary" (click)="openComments()">Comentar</button>
    <button type="button" class="btn btn-secondary" disabled>Compartir</button>
  </div>
  
  <!-- Popup de comentarios -->
  <app-comments
    *ngIf="showComments"
    [postId]="post.id"
    [postTitle]="post.title"
    [postImage]="post.content.media[0]?.path"
    [postDescription]="post.content.text"
    (close)="closeComments()"
  ></app-comments>
</div>
