<div class="post-container">
  <!-- Parte superior del post -->
  <div class="d-flex gap-3 mb-2">
    <ng-container *ngIf="institution">
      <img
        [src]="institution.logo_url"
        [alt]="'Foto de perfil'"
        class="img-profile"
      />
      <div class="info-user">
        <h2>{{ institution.name }}</h2>
        <p >{{calculateTimePost()}}</p>
      </div>
      <div class="options-post d-flex justify-content-center align-items-center" (click)="showOptions.set(!showOptions())">
        <i class="bi bi-three-dots"></i>
      </div>
    </ng-container>
  </div>
  <!-- Popup de opciones post Editar/Eliminar -->
  <app-options-post *ngIf="showOptions()" (clickOutside)="showOptions.set(false)" [postReference]="post.uuid"></app-options-post>
  <!-- Modals de editar y eliminar post -->
  <app-modal-edit-post [institution]="institution" [postToEdit]="post" (postUpdated)="updatePost($event)"></app-modal-edit-post>
  <app-modal-delete-post (confirmDeletePost)="deletePost($event)" [postReference]="post.uuid"></app-modal-delete-post>
  <!-- Contenido del post -->
  <p *ngIf="post.content.text != ''" class="text-post">{{post.content.text}}</p>

  <!-- Si hay contenido multi media (imagenes/videos, documento) -->
  <ng-container *ngIf="listMediaPost.length > 0">

    <!-- Visualizar posts con imagenes y/o videos -->
    <div *ngIf="post.content.media[0].type != 'document'" class="post-medias" [ngClass]="getGridClass(listMediaPost)">
      <ng-container *ngFor="let media of listMediaPost; let i = index">
        <!-- Mostrar las primeras 4 imágenes/videos directamente -->
        <div *ngIf="i < 3 || listMediaPost.length == 4" class="media-post" [ngClass]="{'three': listMediaPost.length == 3 && i == 0}">
          <img *ngIf="typeImages.includes(media.type); else mostrarVideo" [src]="media.path" [alt]="media.name || 'Imagen del post'">
          <ng-template #mostrarVideo>
            <video [src]="media.path" controls></video>
          </ng-template>
        </div>
        <!-- Quinta imagen/video: Con superposición si hay más media -->
        <div *ngIf="i === 3 && listMediaPost.length > 4" class="media-post">
          <div class="more">
            <img *ngIf="typeImages.includes(media.type); else mostrarVideo" [src]="media.path" [alt]="media.name || 'Imagen del post'">
            <ng-template #mostrarVideo>
              <video [src]="media.path" controls></video>
            </ng-template>
            <div class="overlay">+{{ listMediaPost.length - 4 }}</div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Visualizar post con solo documento -->
    <ng-container *ngIf="post.content.media[0].type == 'document'">
      <a [href]="post.content.media[0].path" target="_blank" class="text-decoration-none">
        <div class="doc-post d-flex flex-row">
          <div class="icon-doc d-flex align-items-center justify-content-center">
            <img src="../../../../assets/File PDF.png" alt="Document">
          </div>
          <div class="details-doc d-flex flex-column align-center">
            <div class="type-doc d-flex align-center"><p class="m-0">{{ getTypeDoc(post.content.media[0].type) }}</p></div>
            <div class="name-doc"><p class="fw-bold m-0" >{{ post.content.media[0].name }}</p></div>
          </div>
        </div>
      </a>
    </ng-container>
  </ng-container>

  <!-- Cantidad de reacciones y comentarios -->
  <div class="reactions-comments d-flex justify-content-between" 
  *ngIf="amountReactions() > 0 || amountComments() > 0">
    <div class="likes" *ngIf="amountReactions() > 0" data-bs-target="#modalListReactions" data-bs-toggle="modal">
      <i class="fa-solid fa-thumbs-up" *ngIf="getReactions(0) == 'thumbs-up'"></i>
      <i class="fa-solid fa-heart" *ngIf="getReactions(0) == 'red-heart'"></i>
      <img src="../../../../assets/crying-face.png" alt="" class="fa-face-sad-tear" *ngIf="getReactions(0) == 'crying-face'">
      <img src="../../../../assets/angry-face.png" alt="" class="fa-face-angry" *ngIf="getReactions(0) == 'angry-face'">

      <i class="fa-solid fa-thumbs-up" *ngIf="getReactions(1) == 'thumbs-up'"></i>
      <i class="fa-solid fa-heart" *ngIf="getReactions(1) == 'red-heart'"></i>
      <img src="../../../../assets/crying-face.png" alt="" class="fa-face-sad-tear" *ngIf="getReactions(1) == 'crying-face'">
      <img src="../../../../assets/angry-face.png" alt="" class="fa-face-angry" *ngIf="getReactions(1) == 'angry-face'">
      <span>{{ totalReactions() }}</span>
    </div> 
    <app-modal-list-reactions [reactions]="post.reactions"></app-modal-list-reactions>   
    <div class="comments" *ngIf="amountComments() > 0">
      <span>{{ post.commentCounter.totalComments }}</span>
      <i class="bi bi-chat-fill"></i>
    </div>
  </div>
  <hr [ngClass]="{'hr-post-division': amountReactions() == 0 && amountComments() == 0}">

  <!-- Botones de reaccionar, comentar y compartir -->
  <div class="bottuns d-flex justify-content-evenly m-2">
    <!-- Boton de Reaccionar -->
    <button type="button" class="btn" [ngClass]="myReaction.class" id="btn-like" (click)="reactUserBoton(post.uuid)">
      <i class="{{ myReaction.emoji }}" *ngIf="myReaction.class == 'thumbs-up' || myReaction.class == 'red-heart' || myReaction.class == 'default'"></i>
      <img src="../../../../assets/{{myReaction.class}}.png" class="{{myReaction.class}}" *ngIf="myReaction.class == 'crying-face' || myReaction.class == 'angry-face'">
      <span class="ms-1">{{ myReaction.name }}</span>
      <!-- Opciones de reaccion  -->
      <div class="option-reactions">
        <i class="fa-solid fa-thumbs-up" (click)="clickReaction(post.uuid, 'thumbs-up')"></i>
        <i class="fa-solid fa-heart" (click)="clickReaction(post.uuid, 'red-heart')"></i>
        <img src="../../../../assets/crying-face.png" class="crying-face" (click)="clickReaction(post.uuid, 'crying-face')">
        <img src="../../../../assets/angry-face.png" class="angry-face" (click)="clickReaction(post.uuid, 'angry-face')">
      </div>
    </button>
    <!-- Boton de Comentar -->
    <button type="button" class="btn btn-secondary" disabled>
      <i class="bi bi-chat-left-text"></i>
      Comentar</button>
    <!-- Boton de Compartir -->
    <button type="button" class="btn btn-secondary" disabled>
      <i class="fa-solid fa-share"></i>
      Compartir</button>
  </div>
  
  <!-- Popup de comentarios -->
  <!-- <app-comments  
  *ngIf="showComments"  
  [postImage]="post.content.media[0]?.path"  
  [postAuthor]="institution.name"  
  [postTime]="calculateTimePost()"  
  [postDescription]="post.content.text"  
  (close)="closeComments()"  
></app-comments>   -->
</div>
