.page-container {
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-family: var(--primary-font-family);
	font-size: 14px;
	color: var(--blue-color);

	.header-post {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;

		.data-user {
			width: 95%;
			display: flex;
			gap: 10px;

			.img-profile {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}

			.info-user {
				margin: 0;
				padding: 0;

				h2 {
					margin: 0;
					padding: 0;
					padding-top: 8px;
					font-family: var(--secondary-font-family);
					font-size: 20px;
				}

				p {
					margin: 0;
					padding: 0;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
	}

	.page-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px;
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--blue-color);

		
		.section-content {
			h3 {
				font-size: 14px;
				font-weight: 700;
			}
	
			p {
				text-align: justify;
			}

			.text {
				text-align: justify;
				p {
					text-align: justify;
					white-space: wrap;
				}
			}

			.media-container {
				position: relative;
				padding-bottom: 20px;
				width: 100%;
			}
			
			.media-container img {
				width: 100%;
				object-fit: cover;
				-o-object-fit: cover;
				border-radius: 10px;
			}
		}
	}

	.no-border-bottom {
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
}

@media screen and (max-width: 768px) {

	.page-container {

		.page-section {
			display: flex;
			flex-direction: column;
			gap: 0;
		}
	}

}