<div class="page-container">

	<div class="header-post">
		<div *ngIf="institution$ | async as institution" class="data-user">
			<img [src]="institution.logo_url" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Presentación</h2>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<!-- Initial Article -->
			<!-- Mision Article -->
			@if(isAuthenticated && currentUser.role === 'ADMIN'){
				@if(edit === 'contentPresentacion'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						[articleToEdit]="articleIni"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else{
					<div class="content">
						<div class="text" *ngIf="articleIni" [innerHTML]="safeText(articleIni.text)"></div>
						<div class="edit-info" (click)="editInfo(articleIni.text, 'contentPresentacion')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				<!-- Image article ini-->
				<div class="media-container" *ngIf="articleIni">
					<img [src]="articleIni.medias[articleIni.medias.length-1].path" alt="">
					<input type="file" name="" id="media-ini-article" hidden accept="image/*" 
						(input)="changeInputMediaArticle($event, articleIni)"  #inputMediaArticleIni
					>
					<div class="edit-info media" (click)="openEditMediaArticleIni()">
						<i class="bi bi-pencil-fill"></i> 
					</div>
				</div>
				@if(edit === 'mision'){
					<app-edit-info
						[contentEdited]="contentEdited"
						[typeText]="'title'"
						[articleToEdit]="articleMision"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else{
					<div class="content">
						<h3 *ngIf="articleMision">{{ articleMision.title }}</h3>
						<div class="edit-info" (click)="editInfo(articleMision.title, 'mision')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				@if(edit === 'contentMision'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						[articleToEdit]="articleMision"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content">
						<div class="text" *ngIf="articleMision" [innerHTML]="safeText(articleMision.text)"></div>
						<div class="edit-info" (click)="editInfo(articleMision.text, 'contentMision')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
			}@else {
				<div *ngIf="articleIni" [innerHTML]="safeText(articleIni.text)"></div>
				<div class="media-container" *ngIf="articleIni">
					<img [src]="articleIni.medias[articleIni.medias.length-1].path" alt="">
				</div>
				<h3 *ngIf="articleMision">{{ articleMision.title }}</h3>
				<div *ngIf="articleMision" [innerHTML]="safeText(articleMision.text)"></div>
			}
		</div>
		<div class="section-content">
			<!-- Proposito Article -->
			@if(isAuthenticated && currentUser.role === 'ADMIN'){
				@if(edit === 'proposito'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'title'"
						[articleToEdit]="articleProposito"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else{
					<div class="content">
						<h3 *ngIf="articleProposito">{{ articleProposito.title }}</h3>
						<div class="edit-info" (click)="editInfo(articleProposito.title, 'proposito')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				@if(edit === 'contentProposito'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						[articleToEdit]="articleProposito"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else{
					<div class="content" >
						<div class="text" *ngIf="articleProposito" [innerHTML]="safeText(articleProposito.text)"></div>
						<div class="edit-info" (click)="editInfo(articleProposito.text, 'contentProposito')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
			}@else{
				<h3 *ngIf="articleProposito">{{ articleProposito.title }}</h3>
				<div *ngIf="articleProposito" [innerHTML]="safeText(articleProposito.text)"></div>
			}
		</div>
	</div>

	<div class="page-section no-border-bottom">
		@if(isAuthenticated && currentUser.role === 'ADMIN'){
			<div class="section-content">
				<!-- Estructura Article -->
				@if(edit === 'estructura'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'title'"
						[articleToEdit]="articleEstructura"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content">
						<h3 *ngIf="articleEstructura">{{ articleEstructura.title }}</h3>
						<div class="edit-info" (click)="editInfo(articleEstructura.title, 'estructura')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				@if(edit === 'contentEstructura'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						[articleToEdit]="articleEstructura"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content" >
						<div class="text" *ngIf="articleEstructura" [innerHTML]="safeText(articleEstructura.text)"></div>
						<div class="edit-info" (click)="editInfo(articleEstructura.text, 'contentEstructura')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}

				<!-- Convenios Article -->
				 @if(edit === 'dptoConvenios'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'title'"
						[articleToEdit]="articleDptoConvenios"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content">
						<h3 *ngIf="articleDptoConvenios" class="mt-3">{{ articleDptoConvenios.title }}</h3>
						<div class="edit-info" (click)="editInfo(articleDptoConvenios.title, 'dptoConvenios')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				@if(edit === 'contentDptoConvenios'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						[articleToEdit]="articleDptoConvenios"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content" >
						<div class="text" *ngIf="articleDptoConvenios" [innerHTML]="safeText(articleDptoConvenios.text)"></div>
						<div class="edit-info" (click)="editInfo(articleDptoConvenios.text, 'contentDptoConvenios')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
			</div>
			<div class="section-content">
				@if(edit === 'dptoInternac'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'title'"
						[articleToEdit]="articleDptoInterac"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content">
						<h3 *ngIf="articleDptoInterac" class="mt-3">{{ articleDptoInterac.title }}</h3>
						<div class="edit-info" (click)="editInfo(articleDptoInterac.title, 'dptoInternac')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				@if(edit === 'contentDptoInternac'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						[articleToEdit]="articleDptoInterac"
						(onCancelEdit)="cancelEdit()"
						(onSaveSuccessfulEdit)="saveEdit($event)"
					></app-edit-info>
				}@else {
					<div class="content" >
						<div class="text" *ngIf="articleDptoInterac" [innerHTML]="safeText(articleDptoInterac.text)"></div>
						<div class="edit-info" >
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				<div class="media-container" *ngIf="articleDptoInterac">
					<img *ngIf="articleDptoInterac" [src]="articleDptoInterac.medias[articleDptoInterac.medias.length-1].path" alt="foto">
					<input type="file" name="" id="media-dpto-internac-article" hidden accept="image/*" 
						(input)="changeInputMediaArticle($event, articleDptoInterac)"  #inputMediaArticleDptoInternac
					>
					<div class="edit-info media" (click)="openEditMediaArticleDptoInternac()">
						<i class="bi bi-pencil-fill"></i> 
					</div>
				</div>
			</div>
		}@else {
			<div class="section-content">
				<!-- Estructura Article -->
				<h3 *ngIf="articleEstructura">{{ articleEstructura.title }}</h3>
				<div *ngIf="articleEstructura" [innerHTML]="safeText(articleEstructura.text)"></div>
				
				<!-- Convenios Article -->
				<h3 *ngIf="articleDptoConvenios" class="mt-3">{{ articleDptoConvenios.title }}</h3>
				<div *ngIf="articleDptoConvenios" [innerHTML]="safeText(articleDptoConvenios.text)"></div>
			</div>
			<div class="section-content">
				<h3 *ngIf="articleDptoInterac">{{ articleDptoInterac.title }}</h3>
				<div *ngIf="articleDptoInterac" [innerHTML]="safeText(articleDptoInterac.text)"></div>
				<div class="media-container">
					<img *ngIf="articleDptoInterac" [src]="articleDptoInterac.medias[0].path" alt="foto">
				</div>
			</div>
		}
	</div>
</div>
<p-toast />