<div class="page-container">

	<div class="header-post">
		<div *ngIf="institution$ | async as institution" class="data-user">
			<img [src]="institution.logo_url" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Presentación</h2>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<p>La Dirección de Relaciones Internacionales y Convenios fue creada el 7 de enero de 1988, con
				el rango de Secretaría. El año 1995 se instituye como Departamento y en noviembre de 1997 se
				crea la actual Dirección.</p>
			<div class="media-container">
				<img src="../../../assets/dric/dric-team-2025.jpg" alt="">
			</div>
			<h3>Misión</h3>
			<p>Promover, coordinar y canalizar la cooperación internacional y nacional, así como la
				coordinación interinstitucional de la UMSS, en beneficio de los procesos de
				enseñanza-aprendizaje, investigación científica y tecnológica, interacción social y
				fortalecimiento institucional.</p>
		</div>
		<div class="section-content">
			@if(isAuthenticated && currentUser.role === 'ADMIN'){
				@if(edit === 'proposito'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'title'"
						(onCancelEdit)="cancelEdit()"
						(onSaveEdit)="saveEdit($event)"
					></app-edit-info>
				}@else{
					<div class="content">
						<h3 *ngIf="articleProposito">{{ articleProposito.title }}</h3>
						<div class="edit-info" (click)="editInfo(articleProposito.title, 'proposito')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
				@if(edit === 'contentProposito'){
					<app-edit-info 
						[contentEdited]="contentEdited"
						[typeText]="'paragraph'"
						(onCancelEdit)="cancelEdit()"
						(onSaveEdit)="saveEdit($event)"
					></app-edit-info>
				}@else{
					<div class="content">
						<p *ngIf="articleProposito">{{ articleProposito.text }}</p>
						<div class="edit-info" (click)="editInfo(articleProposito.text, 'contentProposito')">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
			}@else{
				<h3 *ngIf="articleProposito">{{ articleProposito.title }}</h3>
				<p *ngIf="articleProposito">{{ articleProposito.text }}</p>
			}
		</div>
	</div>

	<div class="page-section no-border-bottom">
		<div class="section-content">
			<h3>Estructura</h3>
			<p>La DRIC depende directamente del Rectorado. Para el cumplimiento de sus funciones, se
				estructura de la siguiente manera:</p>
			<ul>
				<li>Dirección Ejecutiva</li>
				<li>Departamento de Convenios, Movilidad y Becas</li>
				<li>Departamento de Internacionalización y Proyectos</li>
			</ul>
			<p>Esta estructura permite que la UMSS se constituya en una buena contraparte,
				principalmente en proyectos que cuentan con cooperación internacional, habiendo
				acumulado amplia experiencia.<br>
				Director: Lic. Oscar Edwin Alba Salazar<br>
				Correo: director-dric&#64;umss.edu.bo<br>
				Correo: rrii&#64;umss.edu.bo</p>
			<h3>Departamento de Convenios, Movilidad y Becas</h3>
			<ul>
				<li>Jefe del Departamento: Mgr. Asunta Giovanna Magdalena Maldonado Moscoso
					convenios-dric&#64;umss.edu.bo</li>
				<li>Dra. Silvia Arce: corconvenios-dric&#64;umss&sdot;edu.bo</li>
				<li>Dr. Roberto Achaya: robertoachayamamani&#64;gmail.com</li>
				<li>Mgr. Roxana Zambrana: dric&#64;umss.edu</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Departamento de Internacionalización y Proyectos</h3>
			<ul>
				<li>Jefe del Departamento: Mgr. Javier Augusto Jordán Arandia proyectosdric&#64;umss.edu.bo
				</li>
				<li>Ing. John Medina: coord-proyectos-dric&#64;umss.edu.bo</li>
				<li>Por designar: internal-dric&#64;umss.edu.bo</li>
			</ul>
			<div class="media-container">
				<img src="../../../assets/dric/dric-oscar-alba.jpg" alt="foto">
			</div>
		</div>
	</div>

</div>
<p-toast />