<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/iug-logor.svg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Sobre nosotros</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h4>El GRUPO DE USUARIOS INFORMIX es una asociación registrada.</h4>
			<p style="text-align: justify;">Esta asociación se ha propuesto reunir a todos aquellos que trabajan con el software Informix. Informix Software GmbH fue el décimo mayor fabricante de software del mundo y fue adquirido por IBM en 2001. <br>
			El objetivo del IUG es el intercambio activo de experiencias, la resolución conjunta de problemas y la crítica constructiva dentro de una comunidad fuerte. Por supuesto, la IUG necesita miembros activos para esto, porque muchos de ellos pueden hacer una gran diferencia.
			</p>
			<div class="media-container">
				<img src="../../../assets/info-iug-1.jpg" alt="">
			</div>
		</div>
		<div class="section-content">
			<h3>Nuestros objetivos</h3>
			<p style="text-align: justify;">Nosotros, el GRUPO DE USUARIOS DE INFORMIX, consideramos que una de nuestras tareas
				más importantes es proteger los intereses de nuestros miembros y representarlos
				ante Informix. Para este fin, se mantienen conversaciones periódicas con la dirección
				de Informix con el fin de mejorar la cooperación mediante críticas y sugerencias constructivas. <br>
			¿Conoces el software INFORMIX? ¿Conoces también el GRUPO DE USUARIOS INFORMIX? <br>
			Entonces es hora de conocernos. <br>
			Grupo de usuarios de Informix eV.
			</p>
			<h3>Afiliación</h3>
			<p style="text-align: justify;">¡Para que sepas por qué vale la pena hacerte miembro del GRUPO DE USUARIOS DE INFORMIX,
				 aquí tienes un  <a href="https://iug.de/images/stories/ueber_uns/auszug_iug.pdf">extracto</a> de los servicios que estaremos encantados de ofrecerte!
				¡Hazte miembro! <br>
				Modalidades de inscripción: Por favor llenar la <a href="https://iug.de/mitgliedschaft/">solicitud</a> y enviarla a la IUG.
				 Tras la confirmación de su membresía completa, recibirá un número de membresía válido. <br>
				Si tiene más preguntas, llámenos, escríbanos una carta o simplemente envíenos un correo electrónico.
				Estaremos encantados de ofrecerle más información. Esperamos poder formar parte de nuestro equipo de socios.
			</p>
		</div>
	</div>

	<div class="page-sections no-border-bottom">
		<div class="section-content">
			<h3>Organización</h3>
			<h4>La Junta Directiva y el Consejo Asesor de la IUG forman el corazón de nuestra comunidad.</h4>
			<p style="text-align: justify;">El Grupo de usuarios de Informix (IUG) es una comunidad dedicada a promover la tecnología Informix.
				 Nuestra junta directiva y consejo asesor gestionan la organización y organizan eventos, talleres
				  y cursos de capacitación para nuestros miembros. <br>
				Como miembro, usted obtiene acceso a una red de expertos, recursos exclusivos e información importante
				 de Informix. Invitamos a todos los interesados ​​en Informix a unirse a nuestra creciente comunidad.
			</p>

			<h3>La Junta</h3>
			<div class="d-flex flex-row justify-content-center gap-2">
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/dr-julio.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">DR. JULIO ASPIAZU</h5>
						<p>Presidente</p>
						<p class="card-text">pirAMide Informatik GmbH <br>
						<a href="mailto:j.aspiazu&#64;piramide.de">j.aspiazu&#64;piramide.de</a> <br>
						<a href="www.piramide.de">www.piramide.de</a>
						</p>
					</div>
				</div>
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/walter.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">WALTER KÖNIGSEDER</h5>
						<p>Vicepresidente</p>
						<p class="card-text">Four J's GmbH<br>
						<a href="mailto:walter.koenigseder&#64;4js.com">walter.koenigseder&#64;4js.com</a><br>
						<a href="www.4js.com">www.4js.com</a>
						</p>
					</div>
				</div>
			</div>

			<br>
			<h3>El Consejo Asesor</h3>
			<div class="d-flex flex-row justify-content-center gap-2 m-3">
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/oliver.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">Consejo Asesor de <b>OLIVER ICKLER</b></h6>
						<br>
						<p class="card-text">iBiSS Software Solutions GmbH<br>
						<a href="mailto:oickler&#64;ibiss.de">oickler&#64;ibiss.de</a><br>
						<a href="www.ibiss.biz">www.ibiss.biz</a>
						</p>
					</div>
				</div>
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/LarsWehner.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">Consejo Asesor de <b>LARS WEHNER</b></h6>
						<br>
						<p class="card-text">CSS AG<br>
						<a href="mailto:lars.wehner&#64;css.de">lars.wehner&#64;css.de</a><br>
						<a href="www.css.de">www.css.de</a>
						</p>
					</div>
				</div>
			</div>
			<div class="d-flex flex-row justify-content-center gap-2">
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/fedor.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">Consejo Asesor de <b>FEDOR SCHÖNHALS</b></h6>
						<br>
						<p class="card-text">IT-Schoenhals<br>
						<a href="mailto:fedor&#64;it-schoenhals.de">fedor&#64;it-schoenhals.de</a> <br>
						<a href="www.it-schoenhals.de">www.it-schoenhals.de</a>
						</p>
					</div>
				</div>
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/Andreas.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">Consejo Asesor de <b>ANDREAS WEININGER</b></h6>
						<br>
						<p class="card-text">IBM Deutschland GmbH<br>
						<a href="mailto:andreas.weininger&#64;de.ibm.com">andreas.weininger&#64;de.ibm.com</a> <br>
						<a href="www.ibm.de">www.ibm.de</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>