<!-- Seleccionar imagen (es) -->
<div class="area-media" *ngIf="showAreaMedia()">
  <button type="button" class="btn-close m-0" aria-label="Close" (click)="closeCleanPreviewImg()"></button>
  <div *ngIf="!showPreviewImages" class="back-media d-flex flex-column align-items-center justify-content-center" (click)="openInputFileImgVid()" (drop)="changeInputMedia($event)" (dragover)="onDragOver($event)">
    <i class="bi bi-plus-square-dotted fs-4"></i>
    <h5 class="mb-0">Añadir fotos/vídeos</h5>
    <label class="text-secondary" for="input-file-img-vid">o usa la opción de arrastrar y soltar</label>
  </div>

  <!-- Preview de imagenes elegidas -->
  <div class="images" *ngIf="showPreviewImages" [ngClass]="getGridClass()">
    <ng-container *ngFor="let img of imagesPreview; let i = index"> 
      <!-- Mostrar las primeras 4 imágenes directamente -->
      <img *ngIf="i < 3 || imagesPreview.length == 4" [src]="img" [alt]="'Imagen del post'">
      <!-- Quinta imagen: Con superposición si hay más imágenes -->
      <div 
        *ngIf="i === 3 && imagesPreview.length > 4" 
        class="more" 
        [title]="imagesPreview.length - 4"
        >
        <img [src]="img" [alt]="'Imagen del post'">
        <div class="overlay"></div>
      </div>
    </ng-container>
  </div>
</div>
<input type="file" name="" id="input-file-img-vid" hidden (input)="changeInputMedia($event)" multiple accept="image/*,video/*">
