<!-- Estadísticas de la publicación -->
<div class="post-stats" *ngIf="totalReactions > 0 || totalComments > 0">
    <div class="reactions-count" *ngIf="totalReactions > 0" [attr.data-bs-target]="'#reactions-'+post.uuid"
        data-bs-toggle="modal">
        <span class="quantity">{{ totalReactions }}</span>
        <i class="bi bi-hand-thumbs-up icon"></i>
    </div>
    <app-modal-list-reactions [reactions]="post.reactions" [postReference]="post.uuid"></app-modal-list-reactions>

    <div class="comments-share-count">
        <div class="item" *ngIf="totalComments > 0" (click)="onCommentClicked()">
            <span class="quantity">{{ totalComments }}</span>
            <i class="bi bi-chat-left-text icon"></i>
        </div>
    </div>
</div>

<hr [ngClass]="{'hr-post-division': totalReactions == 0 && totalComments == 0}" [hidden]="!authenticated">

<!-- Botones de acción -->
<div class="post-actions" [hidden]="!authenticated">
    <!-- Boton de Reaccionar -->
    <button type="button" class="action-btn" [ngClass]="myReaction.class" [disabled]="!authenticated"
        (click)="onLikeClicked()">
        <i class="{{ myReaction.emoji }}"
            *ngIf="myReaction.class == 'thumbs-up' || myReaction.class == 'red-heart' || myReaction.class == 'default'"></i>
        <img src="assets/{{myReaction.class}}.png" class="{{myReaction.class}}"
            *ngIf="myReaction.class == 'crying-face' || myReaction.class == 'angry-face'">
        <span>{{ myReaction.name }}</span>

        <!-- Opciones de reaccion  -->
        <div class="reaction-options">
            <i class="fa-solid fa-thumbs-up" (click)="onReactionSelected('thumbs-up', $event)"></i>
            <i class="fa-solid fa-heart" (click)="onReactionSelected('red-heart', $event)"></i>
            <img src="assets/crying-face.png" class="crying-face" (click)="onReactionSelected('crying-face', $event)">
            <img src="assets/angry-face.png" class="angry-face" (click)="onReactionSelected('angry-face', $event)">
        </div>
    </button>

    <button type="button" class="action-btn" [disabled]="!authenticated" (click)="onCommentClicked()">
        <i class="bi bi-chat-left-text"></i>
        Comentar
    </button>

    <button type="button" class="action-btn" [disabled]="!authenticated" (click)="onShare()">
        <i class="fa-solid fa-share"></i>
        Compartir
    </button>
</div>