
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--main-width: 1440px;
	--nav-width: 1020px;
	--container-width: 1020px;

	--blue-color: #003770;
	--red-color: #E30613;
	--blue-color-25: rgba(0, 54, 112, 0.25);

	--primary-font-family: "Montserrat", serif;
	--secondary-font-family: "Roboto", serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: var(--primary-font-family);
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 14px;
}