<!-- Lista de comentarios -->
<div class="comments-section">
    <div class="comment-box fle">
        <div class="d-flex flex-column">
            <div *ngFor="let comment of comments" class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <img [src]="comment.user_photo" alt="Foto de perfil" class="comment-img">
                    <div class="comment-text">
                        <div class="comment-header">
                            <p><strong>{{ comment.user_name }}</strong></p>
                        </div>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                <div class="comment-lks">
                    <p><span> {{ calculateTime(comment) }}</span></p>
                </div>
                
                <div class="comment-reactions">
                    <!-- 🔥 Modificación aquí: Se agregó el evento (reactionUpdated) -->
                    <app-reactions 
                        [commentUuid]="comment.uuid" 
                        (reactionUpdated)="updateReactions($event)">
                    </app-reactions>
                </div>

                <br>
            </div>
        </div>
    </div>
</div>
