<div class="photos-container">

  <div class="section-title">
    <h3>Fotos</h3>
    <a href="/fotos">Ver más</a>
  </div>

  <div *ngIf="isLoading" class="loading-message">
    Cargando fotos...
  </div>

  @if (!isLoading && photos.length > 0) {
  <div class="grid-container">
    @for (photo of photos; track photo.url) {
    <img src="{{ photo.url }}" alt="Foto de {{ institution.name }}">
    }
  </div>
  }

  <div class="no-photos" *ngIf="!isLoading && photos.length === 0">
    No hay Fotos.
  </div>

</div>