.photos-container {
  margin: 0;
  padding: 40px 0 20px;
  padding-right: 56px;
  width: 396px;
  border-bottom: 1px solid var(--red-color);

  .section-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 340px;
  
    h3 {
      font-family: var(--secondary-font-family);
      font-optical-sizing: auto;
      font-size: 20px;
      font-weight: bold;
    }
  
    a {
      font-family: var(--primary-font-family);
      font-size: 14px;
      color: var(--blue-color);
      text-decoration: none;
    }

  }

	.grid-container {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
		width: 340px;
	}

	.grid-container img {
		width: 160px;
		height: 160px;
		object-fit: cover;
		-o-object-fit: cover;
		aspect-ratio: 1;
    transition: transform 0.3s ease;
    border: 1px solid var(--blue-color-25);

    &:hover {
        transform: scale(1.05);
    }
	}
}

.loading-message,
.no-photos {
  font-family: var(--primary-font-family);
  font-size: 14px;
  text-align: center;
  color: var(--blue-color);
}