<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/iug-logor.svg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Nuestros servicios</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h4 style="text-align: justify;">El Informix User Group (IUG) eV defiende la difusión y profundización de las tecnologías Informix entre sus miembros.</h4>
			<p style="text-align: justify;">Con talleres regulares, seminarios técnicos y reuniones periódicas, la IUG promueve el
				 intercambio de conocimientos y experiencias dentro de su comunidad. Estos eventos,
				  complementados con beneficios económicos para cursos de formación y congresos,
				  fortalecen la competencia profesional de los miembros. Al brindar acceso a recursos 
				  de información especializados y representar los intereses de los miembros, la IUG contribuye 
				  significativamente al desarrollo profesional y al éxito de sus miembros.</p>
		</div>
		<div class="section-content">
			<div class="d-flex flex-row gap-2">

				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-calendar4-week pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Talleres</h5>
						<br>
						<p style="text-align: center;">Los usuarios de Informix se reúnen en toda Alemania, discuten temas actuales y comparten experiencias.</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-hdd-stack pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Talleres técnicos</h5>
						<br>
						<p style="text-align: center;">Las reuniones periódicas en Alemania están dirigidas a profesionales que desean adquirir y aplicar experiencia técnica.</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-card-text pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Reuniones periódicas</h5>
						<br>
						<p style="text-align: center;">Antes de los talleres se realizan reuniones periódicas que ofrecen a los miembros un entorno agradable para el intercambio.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content">
			<div class="d-flex flex-row gap-2">

				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-mortarboard-fill pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Capacitación</h5>
						<br>
						<p style="text-align: center;">Los miembros pueden recibir hasta tres vales de capacitación al año y canjearlos con IBM, lo que se traduce en ahorros significativos.</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-globe pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Conferencia Mundial de Usuarios</h5>
						<br>
						<p style="text-align: center;">Conferencia anual en EE.UU. con un programa internacional y oportunidades de networking, incluido un descuento para miembros.</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-info-circle-fill pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Acceso al sitio web</h5>
						<br>
						<p style="text-align: center;">Los miembros tienen acceso a información completa sobre Informix en el sitio web de la IUG y pueden utilizar el sitio web internacional de la IUG.</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>



	


</div>