<!-- Modal de Registro -->
<div #registerModal class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title fw-semibold" id="registerModalLabel">Registro de Usuario</h5>
        <!-- Botón de Cierre "X" -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
      </div>

      <div class="modal-body">
        <!-- Formulario de registro -->
        <div class="container">
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>

            <!-- Name-->
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control"
                     [class.is-invalid]="hasErrors('name', 'required') || hasErrors('name', 'minlength') || hasCustomError('name', 'onlyLetters') || hasBackendError('name')"
                     id="name" formControlName="name" />

              <div class="invalid-feedback" *ngIf="hasErrors('name', 'required')">Nombre requerido</div>
              <div class="invalid-feedback" *ngIf="hasErrors('name', 'minlength')">El nombre debe tener al menos 3 caracteres</div>
              <div class="invalid-feedback" *ngIf="hasCustomError('name', 'onlyLetters')">El nombre solo puede contener letras y espacios</div>
              <div class="invalid-feedback" *ngIf="hasBackendError('name')">{{ getBackendError('name') }}</div>
            </div>

            <!-- Last Name -->
            <div class="mb-3">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control"
                     [class.is-invalid]="hasErrors('lastName', 'required') || hasErrors('lastName', 'minlength') || hasCustomError('lastName', 'onlyLetters') || hasBackendError('lastName')"
                     id="lastName" formControlName="lastName" />

              <div class="invalid-feedback" *ngIf="hasErrors('lastName', 'required')">Apellido requerido</div>
              <div class="invalid-feedback" *ngIf="hasErrors('lastName', 'minlength')">El apellido debe tener al menos 3 caracteres</div>
              <div class="invalid-feedback" *ngIf="hasCustomError('lastName', 'onlyLetters')">El apellido solo puede contener letras y espacios</div>
              <div class="invalid-feedback" *ngIf="hasBackendError('lastName')">{{ getBackendError('lastName') }}</div>
            </div>

            <!-- Email -->
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control"
                     [class.is-invalid]="hasErrors('email', 'required') || hasErrors('email', 'email') || hasBackendError('email')"
                     id="emailRG" formControlName="email" />

              <div class="invalid-feedback" *ngIf="hasErrors('email', 'required')">Correo requerido</div>
              <div class="invalid-feedback" *ngIf="hasErrors('email', 'email')">Correo inválido</div>
              <div class="invalid-feedback" *ngIf="hasBackendError('email')">{{ getBackendError('email') }}</div>
            </div>

            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-password">
                <input [type]="inputType" class="form-control"
                      [class.is-invalid]="hasErrors('password', 'required') || hasCustomError('password', 'passwordLength') || hasBackendError('password')"
                      id="passwordRG" formControlName="password" />
                <div class="eye" (click)="togglePasswordVisibility()">
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!hide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="hide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06"/>
                  </svg>
                </div>

                <div class="invalid-feedback" *ngIf="hasErrors('password', 'required')">Contraseña requerida</div>
                <div class="invalid-feedback" *ngIf="hasCustomError('password', 'passwordLength')">La contraseña debe tener entre 8 y 20 caracteres</div>
                <div class="invalid-feedback" *ngIf="hasBackendError('password')">{{ getBackendError('password') }}</div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
              <div class="input-password">
                <input [type]="confirmInputType" class="form-control"
                       [class.is-invalid]="hasErrors('repeat_password', 'required') || hasCustomError('repeat_password', 'passwordLength') || passwordMismatch || hasBackendError('repeat_password')"
                       id="confirmPassword" formControlName="repeat_password" />
                <div class="eye" (click)="toggleConfirmPasswordVisibility()">
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!confirmHide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                  </svg>
                </div>

                <div class="invalid-feedback" *ngIf="hasErrors('repeat_password', 'required')">Confirmación requerida</div>
                <div class="invalid-feedback" *ngIf="hasCustomError('repeat_password', 'passwordLength')">La confirmación debe tener entre 8 y 20 caracteres</div>
                <div class="invalid-feedback" *ngIf="passwordMismatch">Las contraseñas no coinciden</div>
                <div class="invalid-feedback" *ngIf="hasBackendError('repeat_password')">{{ getBackendError('repeat_password') }}</div>
              </div>
            </div>

            <div class="d-grid gap-2">
              <p-toast></p-toast>
              <button type="submit" class="btn btn-primary" 
                      [disabled]="registerForm.invalid || passwordMismatch || isRegistering">
                Registrarse
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center bg-dark bg-opacity-50 position-fixed top-0 start-0 w-100 h-100" id="loadingBackdrop" style="z-index: 1080; display: none !important;">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>