.container {
    background-image: linear-gradient(rgb(0 55 112 / 99%), rgb(225 39 39 / 90%));
    border-radius: 0.5rem;
    padding: 1.7rem 2rem;
}

.modal-content {
    color: white;
    background-image: linear-gradient(rgb(2 62 115 / 70%), rgb(242 29 47 / 70%));
    padding: 2rem 1rem;
}

.modal-header {
    border-bottom: none;  /* Elimina el borde inferior */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;  /* Centra el contenido dentro de la cabecera */
    padding: 0;  /* Elimina el padding por defecto de la cabecera */

    position: relative; /* Asegura que los elementos dentro se alineen correctamente */



}

.modal-title {
    flex: 1;  /* Permite que el título se expanda para tomar el espacio disponible */
    text-align: center;  /* Centra el texto */
    color: white;  /* Cambia el color del texto a blanco */
}

.btn-close {
    color: green;  /* Cambia el color de la "X" a blanco */
    background: transparent;  /* Elimina el fondo del botón */
    border: none;  /* Elimina el borde */
    font-size: 1.25rem;  /* Aumenta el tamaño de la "X" si lo deseas */
    line-height: 1;  /* Ajusta la altura de línea */

    position: absolute;
    right: 10px;  /* Coloca el botón en la esquina superior derecha */
    top: 50%;  /* Centra la "X" verticalmente */
    transform: translateY(-50%);  /* Ajusta la "X" para centrarla correctamente */
    z-index: 10;  /* Asegura que el botón esté encima de otros elementos */

}


.btn {
    background-color: #003770;
}

.botones {
    justify-items: center;
    padding: 1rem 0;
}

.input-password {
    position: relative;
}

.is-invalid ~ .invalid-feedback {
    color: white;
    text-shadow: 0px 1px 3px red;
}

.bi {
    cursor: pointer;
    position: absolute;
    right: 10px; /* 35px is-invalid */
    color: #9FB0E7;
    transform: translateY(-150%);
    transition: .4s ease all;
}


.bi:hover {
    color: var(--bs-body-color); //#1C1B1F
}

@media (max-width: 576px) {
    .botones {
        min-width: 100%;
    }
}
