.container {
    border-radius: 0.5rem;
    padding: 1.7rem 2rem;
    border: 1px solid var(--blue-color);
}

.modal-content {
    color: var(--blue-color);
    padding: 2rem 1rem;
}

.modal-header {
    border-bottom: none;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;  
    padding: 0;  
    position: relative;
}

.modal-title {
    flex: 1;  
    text-align: center; 
    color: var(--blue-color); 
}

.btn-close {
    border: none; 
    font-size: 1.25rem; 
    line-height: 1;  

    position: absolute;
    right: 10px;  
    top: 50%;  
    transform: translateY(-50%); 
    z-index: 10;  

}


.btn {
    background-color: #003770;
}

.botones {
    justify-items: center;
    padding: 1rem 0;
}

.input-password {
    position: relative;
}

input {
    border: 1px solid var(--blue-color);
}

.is-invalid ~ .invalid-feedback {
    color: var(--red-color);
}

.bi {
    cursor: pointer;
    position: absolute;
    right: 10px; 
    color: #9FB0E7;
    transform: translateY(-150%);
    transition: .4s ease all;
}


.bi:hover {
    color: var(--blue-color);
}

.hide {
    display: none !important;
}

@media (max-width: 576px) {
    .botones {
        min-width: 100%;
    }
}
