<!-- Modal de Registro -->
<div #registerModal class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title fw-semibold" id="registerModalLabel">Registro de Usuario</h5>
        <!-- Botón de Cierre "X" -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
      </div>

      <div class="modal-body">
        <!-- Formulario de registro -->
        <div class="container">
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>

            <!-- Name-->
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" 
                     [class.is-invalid]="hasErrors('name', 'required') || hasCustomError('name', 'onlyLetters')" 
                     id="name" formControlName="name" />
              <div class="invalid-feedback" *ngIf="hasErrors('name', 'required')">
                Nombre requerido
              </div>
              <div class="invalid-feedback" *ngIf="hasCustomError('name', 'onlyLetters')">
                El nombre solo puede contener letras y espacios
              </div>
            </div>

            <!-- Last Name -->
            <div class="mb-3">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" 
                     [class.is-invalid]="hasErrors('lastName', 'required') || hasCustomError('lastName', 'onlyLetters')" 
                     id="lastName" formControlName="lastName" />
              <div class="invalid-feedback" *ngIf="hasErrors('lastName', 'required')">
                Apellido requerido
              </div>
              <div class="invalid-feedback" *ngIf="hasCustomError('lastName', 'onlyLetters')">
                El apellido solo puede contener letras y espacios
              </div>
            </div>

            <!-- Email -->
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" [class.is-invalid]="hasErrors('email', 'required') || hasErrors('email', 'email')" id="emailRG" formControlName="email" />
              <div class="invalid-feedback" *ngIf="hasErrors('email', 'required')">
                Correo requerido
              </div>
              <div class="invalid-feedback" *ngIf="hasErrors('email', 'email')">
                Correo inválido
              </div>
            </div>

            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-password" [class.has-error]="hasErrors('password', 'required') || hasCustomError('password', 'passwordLength')">
                <input [type]="inputType" class="form-control" 
                      [class.is-invalid]="hasErrors('password', 'required') || hasCustomError('password', 'passwordLength')" 
                      id="passwordRG" formControlName="password" />
                <div class="eye" (click)="togglePasswordVisibility()">
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!hide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="hide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                  </svg>
                </div>
                <div class="invalid-feedback" *ngIf="hasErrors('password', 'required')">
                  Contraseña requerida
                </div>
                <div class="invalid-feedback" *ngIf="hasCustomError('password', 'passwordLength')">
                  La contraseña debe tener entre 8 y 20 caracteres
                </div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
              <div class="input-password" [class.has-error]="hasErrors('repeat_password', 'required') || hasCustomError('repeat_password', 'passwordLength') || passwordMismatch">
                <input [type]="confirmInputType" class="form-control" 
                       [class.is-invalid]="hasErrors('repeat_password', 'required') || hasCustomError('repeat_password', 'passwordLength') || passwordMismatch" 
                       id="confirmPassword" formControlName="repeat_password" />
                <div class="eye" (click)="toggleConfirmPasswordVisibility()">
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!confirmHide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="confirmHide" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                  </svg>
                </div>
                <div class="invalid-feedback" *ngIf="hasErrors('repeat_password', 'required')">
                  Confirmación de contraseña requerida
                </div>
                <div class="invalid-feedback" *ngIf="hasCustomError('repeat_password', 'passwordLength')">
                  La confirmación debe tener entre 8 y 20 caracteres
                </div>
                <div class="invalid-feedback" *ngIf="passwordMismatch">
                  Las contraseñas no coinciden
                </div>
              </div>
            </div>

            <div class="d-grid gap-2">
              <p-toast/>
              <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || passwordMismatch || hasCustomError('password', 'passwordLength') || hasCustomError('repeat_password', 'passwordLength') || isRegistering">
                Registrarse
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center bg-dark bg-opacity-50 position-fixed top-0 start-0 w-100 h-100" id="loadingBackdrop" style="z-index: 1080; display: none !important;">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>