<div class="container">
  <div class="row">
    <div class="col-5">
      <app-department-details></app-department-details>
    </div>
    <div class="col-7">
      <div class="main-container">
        <app-create-post *ngIf="authenticated === true && currentUser.role === 'ADMIN'" ></app-create-post>
        @if (posts){
          <app-post *ngFor="let post of posts" [post]="post" (requestDeletePost)="deletePost($event)"
            (requestUpdatePost)="updatePost($event)" (reactionChanged)="updateReactions(post.uuid)">
          </app-post>
        }
        <div *ngIf="loading" class="text-center">
          <div class="spinner-border" role="status"></div>
          <p>Cargando más posts...</p>
        </div>
      </div>
    </div>
  </div>
</div>